<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107670559-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107670559-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1802785866656598');
      fbq('track', 'PageView');
  </script>
  <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1802785866656598&ev=PageView
    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mdb.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/add-need.css">

	<title>Seeds token sale</title>
</head>
<body onload="">
  <div id="logo"><a href="/"><img class="logo-img-small" src="images/seeds-logo-name.png" alt="Logo"></a></div>

  <h1>Ask Seeds for What You Need</h1>

  {{^isLoggedIn}}

  <!-- <div class="modal fade" id="modalSigninForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
    <div class="modal-dialog cascading-modal" style="margin-top: 5%;" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i> Sign in</h4>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
               <form role="form" name="signInForm" action="/signin" method="POST">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="email" id="email" name="email" class="form-control">
                    <label for="email">Your email</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="password" name="password" class="form-control">
                    <label for="password">Your password</label>
                </div>

                <input type="hidden" name="to" value="add-need">
                <input type="hidden" name="from" value="add-need">

                {{#emailVerified}}<p class="success-message">Email address verified successfully! Login to continue</p>{{/emailVerified}}
                {{#badInputError}}<p class="errorMessage">Error: Wrong parameters</p>{{/badInputError}}
                {{#wrongCredentialsError}}<p class="errorMessage">Error: Email or password are not correct</p>{{/wrongCredentialsError}}

                <div class="text-center mt-1-half">
                    <button class="btn btn-primary mb-2" onclick="return validateSigninForm();">Continue <i class="fa fa-send ml-1"></i></button>
                </div>
              </form>

              <div class="text-center">or <a href="" type="button" data-toggle="modal" data-target="#modalSignupForm" data-dismiss="modal" style="-webkit-appearance: none;">Create new account</a>
                <br><br><a href="/forgot-password" type="button" style="-webkit-appearance: none;">Forgot your password?</a>
              </div>

              <!-- <a href="" id=""> -->

            </div>
        </div>
        <!--/.Content-->
    <!-- </div> -->
  </div>

  <div class="modal fade" id="modalSignupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i> Create new account</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
               <form role="form" name="signUpForm" action="/signup" method="POST">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="email" id="newEmail" name="newEmail" class="form-control" required>
                    <label for="newEmail">Your email</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                    <label for="newPassword">New password</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                    <label for="confirmPassword">Confirm password</label>
                </div>
                <input type="hidden" name="to" value="add-need">
                <input type="hidden" name="from" value="add-need">

                {{#badInputError}}<p class="errorMessage">Error: Wrong parameters</p>{{/badInputError}}
                {{#alreadyExistsError}}<p class="errorMessage">Error: Email already registered</p>{{/alreadyExistsError}}

                <div class="text-center mt-1-half">
                    <button class="btn btn-primary mb-2" onclick="return validateSignupForm();">Sign up <i class="fa fa-send ml-1"></i></button>
                </div>
              </form>

            </div>
        </div>
        <!--/.Content-->
    </div>
  </div>

  {{/isLoggedIn}}


  {{#isLoggedIn}}

    <div>
      <div class="step">

        <h2>Tell us more about yourself</h2>
          <form action="/add-need" method="POST" name="needForm">
            <table class="info">
              <tr>
                <td class="label"><label for="name">Full name</label></td>
                <td class="input"><input id="name" class="input-string" type="string" name="name" placeholder="Enter your full name"></td>
              </tr>
              <tr>
                <td class="label"><span>Gender</span></td>
                  <td class="input">
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>

                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                  </td>
              </tr>
              <tr>
                <td class="label"><label for="age">Age</label></td>
                <td class="input"><input id="age" class="input-string" type="string" name="age"></td>
              </tr>
              <tr>
                <td class="label"><span>What social good are you interested in?</span></td>
                  <td class="input">

                    {{#categories}}
                      <input type="checkbox" id="option{{key}}" name="userInterests" value="{{key}}">
                      <label for="option{{key}}">{{name}}</label>
                      <br>
                    {{/categories}}
                    <input type="checkbox" id="option-other" name="userInterests" value="other" onchange="enableOtherOption(this)">
                    <label for="option-other">other</label>
                    <br>
                    <input type="string" id="option-other-input" name="userInterestsOther" placeholder="Specify if other" style="visibility: hidden;">

                  </td>
              </tr>
            </table>
          </div>

          <div class="step">
            <h2>Tell us about your need</h2>
            <table class="info">
              <tr>
                <td class="label"><label for="title">Give it a title</label></td>
                <td class="input"><input id="title" class="input-string" type="string" name="title" placeholder="Enter a title"></td>
              </tr>
              <tr>
                <td class="label"><label for="description">Describe your need</label></td>
                <td class="input"><textarea id="description" name="description" cols="40" rows="40"></textarea></td>
              </tr>
              <tr>
                <td class="label"><label for="cost">How much do you need?</label></td>
                <td class="input" id="dollars"><i>$</i><input id="cost" class="input-string" type="string" name="cost"></td>
              </tr>
              <tr>
                <td class="label"><span>What category does your need belong to?</span></td>
                  <td class="input">
                    {{#categories}}
                      <input type="checkbox" id="category{{key}}" name="needCategory" value="{{key}}">
                      <label for="category{{key}}">{{name}}</label>
                      <br>
                    {{/categories}}
                    <input type="checkbox" id="category-other" name="needCategory" value="other" onchange="enableOtherCategory(this)">
                    <label for="category-other">other</label>
                    <br>
                    <input type="string" id="category-other-input" name="needCategoryOther" placeholder="Specify if other" style="visibility: hidden;">

                  </td>
              </tr>
              </table>

          <div>
            <button id="add-need-btn" class="btn btn-green-1 waves-effect" onclick="">ADD NEED</button>
            {{#badInputError}}<p class="errorMessage">Error: missing fields</p>{{/badInputError}}
          </div>
        </form>

      </div>

    </div>

  {{/isLoggedIn}}


  <footer>
    <p><b>Questions?</b> Check our <a target="_blank" href="/faq">FAQ</a> or contact us at <a href="mailto:team@playseeds.com">team@playseeds.com</a></p>
     <p><a target="_blank" href="https://www.facebook.com/seedsgives"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
     <a target="_blank" href="https://www.instagram.com/seedsgives/"><i class="fa fa-instagram fa-2x"></i></a>
     <a target="_blank" href="https://twitter.com/seedstweets"><i class="fa fa-twitter-square fa-2x"></i></a></p>
  </footer>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/mdb.min.js"></script>
  <script src="js/authentication.js"></script>
  <script src="js/add-need.js"></script>
</body>
</html>
