<html>
<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107670559-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107670559-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1802785866656598');
     fbq('track', 'PageView');
     fbq('track', 'InitiateCheckout');
  </script>
  <noscript>
   <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1802785866656598&ev=PageView
    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/mdb.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/promo.css">

	<title>Seeds Token Sale</title>
</head>
<body onload="initContribute({{price}}, {{discount}}, {{showAddress}})" onresize="adjustCross({{discount}})">

  <div id="logo"><a href="/"><img class="logo-img-small" src="images/seeds-logo.png" alt="Logo"></a></div>

  <div class="centered-text" style="padding: 20px 200px 0 200px;">
    <p>In order to buy Seeds Tokens, you first need some ETH, and an Ethereum wallet to store it.  If you purchase ETH on a platform like Coinbase, they'll create a wallet for you.  Please also note that you need enough ETH to pay the Ethereum network for your transfer (typically no more than a few dollars worth, depending on how busy the network is.  You can use the calculator below to see how many Seeds Tokens an Ether will buy you.  If you need help, check out our <a target="_blank" href="/faq">FAQ</a>. </p>
  </div>

  <div id="price-converter">
     <!-- <h2>1 SDS = {{price}} ETH</h2> -->
     <div><label for="sds" class="currency">SEEDS</label><input type="number" id="sds" class="currency-input" value="1"></div>
     <span id="equal">=</span>
     <div><label for="eth" class="currency">ETH</label><input type="number" id="eth" class="currency-input" value="{{price}}">
       {{#onDiscount}}
       <div id="red-cross"></div>
       <!-- <label for="eth-discount" id="discount-label">DISCOUNT PRICE</label> -->
       <input type="number" id="eth-discount" class="currency-input" value="{{price}}">
       {{/onDiscount}}
     </div>
  </div>

  <p style="text-align: center;"><a target="_blank" href="/faq" class="btn btn-green-2 btn">Learn how to purchase Ether</a></p>

  {{^termsAccepted}}
    <div class="step" id="step-0">
      <h2>Step 1: Please Accept the Seeds Token Sale Terms</h2>
      <a class="btn btn-green-1 waves-effect" href="/terms">VIEW TERMS</a>
    </div>
  {{/termsAccepted}}

  <div class="step" id="step-1">
    <h2>Make a Deposit in ETH</h2>

    <div id="request-wallet">
      {{^showAddress}}
      <button type="button" class="btn btn-green-1 waves-effect" {{^termsAccepted}}disabled {{/termsAccepted}} onclick="requestAddress();">REQUEST ADDRESS</button>
      {{/showAddress}}
    </div>

    <div id="loading"><img src="images/loading.gif"></div>
    <div id="address-container">
      <div id="text-address" class="address"><span id="wallet-address"></span></div>
      <div id="qr-address" class="address"><img id="qr-code" src="images/qr-placeholder.png"></div>
    </div>
    <p class="note" style="display: none;">Copy and paste this address to send ETH from your wallet.  NOTE: We cannot accept Ethereum Classic (ETC)<sup>*</sup></p>
  </div>

  <div class="step" id="step-2">
    <h2>Finally, Transfer the ETH to Buy Seeds Tokens</h2>
    <div id="buy-seeds">
      <div><span class="deposited">ETH Deposited: </span><span class="deposited" id="balance">0</span></div>
      <button onclick="refreshBalance()">Refresh to see Deposit <i class="fa fa-refresh" aria-hidden="true"></i></button>

      <form action="/buy" method="post">
      <div id="promoContainer">
        <div class="space">
          <i class="fa fa-usd"></i> <a href="#" value='click me' id='show' /> Have a promo code?</a>
        </div>

        <div id="promoForm" class="right">
            <div class="control-group">
              <div class="controls">
                <label class="label-control" for="promo">Promotion code &nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="" name="promo" id="promo">
              </div>
            </div>
        </div>

      </div>

      <!-- <div><label for="address">Address where to receive SEEDS:</label><br><br><input type="string" id="address-input" placeholder="Enter address"></div> -->
      <div><button id="buy-seeds-btn" class="btn btn-green-1 waves-effect">BUY SEEDS</button></div>
      </form>
      {{#transactionFailed}}
        <p class="errorMessage">Error: something wrong happened and the transaction failed. Try again!</p>
        <p class="errorMessage">If this happens again contact us!</p>
      {{/transactionFailed}}
      {{#insufficientDeposit}}
        <p class="errorMessage">Error: the deposit was not enough to execute the transaction.</p>
        <p class="errorMessage">Please deposit some more ETH!</p>
      {{/insufficientDeposit}}
      {{#zeroBalance}}<p class="errorMessage">Error: balance not enough!</p>{{/zeroBalance}}
      {{#invalidPromo}}<p class="errorMessage">Error: promo code is not valid!</p>{{/invalidPromo}}

    </div>
    <p class="note" style="display: none;">NOTE: It might take some time for the ETH transaction to be completed and to see your deposit balance updated. If you leave this page, you can come back at any time to complete Step 2.</p>
  </div>

  <div class="centered-text">
    <p style="font-size: 22px; font-weight: 400;">We've exceeded our minimum cap of 1 million tokens sold. Thank you for your support!</p>
    <p><sup>*</sup>Check our <a target="_blank" href="/faq">FAQ</a> for more information.</p>
  </div>

  <footer>
    <p><b>Questions?</b> Check our <a target="_blank" href="/faq">FAQ</a> or contact us at <a href="mailto:team@playseeds.com">team@playseeds.com</a></p>
     <p><a target="_blank" href="https://www.facebook.com/seedsgives"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
     <a target="_blank" href="https://www.instagram.com/seedsgives/"><i class="fa fa-instagram fa-2x"></i></a>
     <a target="_blank" href="https://twitter.com/seedstweets"><i class="fa fa-twitter-square fa-2x"></i></a></p>
  </footer>

  <script src="js/wallet.js"></script>
  <script src="js/initContribute.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/mdb.min.js"></script>
  <script src="js/promo.js"></script>

</body>
</html>
