<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107670559-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107670559-1');
  </script>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

	<title>Seeds token sale</title>
</head>
<body>
  <div id="logo"><a href="/"><img class="logo-img-small" src="images/seeds-logo.png" alt="Logo"></a></div>
  <div id="faq">
    <h1>Frequently Asked Questions</h1>
    <div class="background-grey">
      <h6>How do I buy ETH?</h6>
      <p>If you are new to the crypto-world and don't know how to proceed to buy SEEDS here is what you need to do:</p>
      <ol>
        <li>First of all you need to create a wallet. We suggest you to use MyEtherWallet.</li>
        <li>Go on <a target="_blank" href="https://www.myetherwallet.com/">myetherwallet.com</a> and follow the instructions to create a wallet.</li>
        <li>Save you password and private key in a safe place! If you lose them you will not be able to access your wallet anymore and you will lose all the money on it! We suggest you to print the keys and store them in a safe place.</li>
        <li>When asked "how to access your wallet?" choose "private key" and unlock you wallet to have access to it.</li>
        <li>Now you have a wallet! However it is empty and your balance is 0 ETH. To buy ETH with USD you just need to click on the button "Buy ETH with USD" and follow the instructions. It might up to a few days in order to receive the ETH that you bought. Just be patient.</li>
        <li>After you bought ETH and your balance is positive, you are settle and ready to buy SEEDS! Hurray!</li>
      </ol>
    </div>
    <div>
      <h6>Now I have ETH, how do I buy SEEDS?</h6>
      <p>Now that you have some ETH you are ready to buy SEEDS. It is very simple. You just need to send us ETH at the address given <a href="/contribute">here</a>. Go to your wallet, click on the Send button, paste our address, confirm your password and you are done!</p>
    </div>
    <div class="background-grey">
      <h6>I have Bitcoins but not Ethers, how do I buy SEEDS?</h6>
      <p>Unfortunatelly we cannot accept payments in Bitcoins. In order to buy SEEDS you need to convert your Bitcoins to ETH first and then use them to buy SEEDS. If you don't like this solution and think we should accept Bitcoins, write us at <a href="mailto:team@playseeds.com">team@playseeds.com</a>. We always take into consideration our community's needs and if many of you request it we will consider accepting Bitcoins as well.</p>
    </div>
    <div>
      <h6>I have a Coinbase account, how do I buy SEEDS?</h6>
      <p>Unfortunatelly it seems like Coinbase doesn't allows you to receive custom tokens. In order to buy SEEDS you need to create a wallet that accepts custom tokens (like MyEtherWallet). You can transfer ETH from you Coinbase account to your MyEtherWallet and send us ETH from it. We suggest you to follow this <a target="_blank" href="https://blockgeeks.com/how-to-setup-an-ethereum-wallet-and-buy-a-custom-token-a-guide-for-coinbase-users/">guide</a>.</p>
    </div>
    <div class="background-grey">
      <h6>I bought SEEDS but I don't see them on my wallet, how can I see my tokens?</h6>
      <p>It may take a few hours (or even a few days) for your Seeds Tokens to hit your wallet.</p>
      <!-- <p>Once we sent you the tokens, you might still not see them on your wallet. This is because some wallets are only able to receive, send and store ETH but not see incoming transactions of custom tokens (what SEEDS is).
      In order to see your tokens you have to "watch" the token. Go on your MyEtherWallet<sup>*</sup> address and click on "Add Custom Token". Enter the following information:</p>
      <ul>
        <li>Address: {{tokenAddress}}</li>
        <li>Token Symbol: SEEDS</li>
        <li>Decimals: 10</li>
      </ul>
      <p>Now you should be able to see your tokens in your wallet!</p>
      <p><sup>*</sup>If you don't know how to "watch" a custom token from another wallet, contact our team at <a href="mailto:team@playseeds.com">team@playseeds.com</a> and we will be happy to help you!</p> -->
    </div>
  </div>
</body>
</html>
