<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107670559-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107670559-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1802785866656598');
      fbq('track', 'PageView');
      fbq('track', 'Lead');
  </script>
  <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1802785866656598&ev=PageView
    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

	<title>Seeds token sale</title>
</head>
<body onload="initConverter({{price}}, {{discount}})" onresize="adjustCross({{discount}})">
  <div id="logo"><a href="/"><img class="logo-img-small" src="images/seeds-logo.png" alt="Logo"></a></div>
  <div id="faq">

    <div id="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/TdVliiEmurA?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe></div>

    <h1>Frequently Asked Questions</h1>

    <div class="background-grey">
      <h6>How do I buy ETH?</h6>
      <p>If you’re new to the crypto-world and are unsure about what steps to take to buy SEEDS, here’s what you need to do:</p>
      <ol>
        <li>First, you’ll need to create a wallet.  We suggest visiting <a target="_blank" href="https://www.myetherwallet.com/">MyEtherWallet</a> and following the simple instructions on their site.</li>
        <li>When MyEtherWallet asks you how to access your wallet, choose ‘private key.’ This will allow you to unlock your wallet to gain access.</li>
        <li>Save your password and private key.  If you lose them, you’ll permanently lose access to your wallet and everything in it.  We suggest you print your password and key and store them in a safe place.</li>
        <li>Now you have a wallet! However, it’s empty. :) Your balance is 0 ETH, so you’ll need to click the blue button on the right that says ‘Buy ETH with USD’ and follow the instructions. It might take up to a few days to receive the ETH that you bought.  If the button is malfunctioning (Coinbase has recently had issues with this) you can visit www.coinbase.com and buy ETH directly there, and then transfer it to your MyEtherWallet instantly.  If you're a US citizen currently outside of the US, the best way to buy via Coinbase is with a fixed US VPN and a US Driver's License (rather than a passport).</li>
      </ol>
      <p>After the ETH hits your wallet, you’re all set to buy Seeds! But how?</p>
    </div>
    <div>
      <h6>Now that I have ETH, how do I buy SEEDS?</h6>
      <p>Now that you have some ETH, buying SEEDS is easy. You’ll need to send us ETH at the address given <a href="/contribute">here</a> to cover the cost of the amount of SEEDS you’d like to buy. Go to your wallet, click on the ‘Send’ button, paste our address, confirm your password, and you’re done!</p>
      <p>After your transaction will be confirmed you'll see you deposit balance updated. When your balance is positive, you can click on 'BUY SEEDS' to confirm your purchase! You will then receive a confirmation email with intructions on how to retrieve your purchased Seeds Tokens.</p>
    </div>
    <div class="background-grey">
      <h6>I have BTC but not ETH. How do I buy SEEDS?</h6>
      <p>Unfortunately, we don’t currently accept payments in Bitcoin. In order to buy SEEDS, you need to convert your BTC to ETH first, and then use those to buy SEEDS.  If you feel strongly that we should be supporting payments in BTC as well, please let us know at <a href="mailto:team@playseeds.com">team@playseeds.com</a>. We want to do everything we can to make our community happy.</p>
    </div>
    <div>
      <h6>I have ETH Classic. Is it different from ETH? Can I buy SEEDS?</h6>
      <p>ETH Classic is different from ETH. After Etherum's hard fork due to the DAO Attack back in June 2016, some people decided to stick with the original chain and call it "Ethereum Classic". Thus, ETH Classic is a different coin with a different evaluation. Unfortunately, we don’t accept ETH Classic.</p>
    </div>
    <div  class="background-grey">
      <h6>I bought SEEDS. How do I retrieve the tokens?</h6>
      <p>After you have made your puchase and your transaction has been confirmed, you will be able to retrieve your tokens <a href="/retrieve">here</a>. You will need to provide us with a token compatible wallet address.
      Coinbase, GDAX and/or Kraken wallets DON'T allow you to receive custom tokens like SEEDS, so you’ll need to create a wallet that does, using a tool like <a target="_blank" href="https://www.myetherwallet.com/">MyEtherWallet</a>. You can find a list of token compatible wallets <a href="https://tokenmarket.net/what-is/ethereum-token-wallets">here</a>.</p>
    </div>
    <div>
      <h6>I retrieved my SEEDS Tokens but I don't see them in my wallet. Am I missing something?</h6>
      <p>It may take a few hours (or even a few days) for your Seeds Tokens to hit your wallet. And once the tokens have hit, they may still not be immediately visible, because while most wallets are able to receive, send, and store ETH, they don’t have the functionality to see incoming transactions of custom tokens like SEEDS.</p>
      <p>In that case, in order to see your incoming SEEDS tokens, you’ll have to ‘watch’ them. Login to your MyEtherWallet<sup>*</sup> address and click on ‘Add Custom Token.’  Enter the following information:</p>
      <ul>
        <li>Address: {{tokenAddress}}</li>
        <li>Token Symbol: SEEDS</li>
        <li>Decimals: 10</li>
      </ul>
      <p>Now, you should be able to see your SEEDS tokens in your wallet!</p>
      <p><sup>*</sup>If it’s been more than a few days and they still aren’t there, please email us at <a href="mailto:team@playseeds.com">team@playseeds.com</a>, and we’ll do whatever we can to help.</p>
      <p>Thank you so much!</p>
    </div>
    <div class="background-grey">
      <h6>How much does a Seeds Token cost?</h6>
      <p>You can use the calculator below to determine how many SEEDS Tokens to purchase at the current price!</p>
      <div id="price-converter">
         <div><label for="sds" class="currency">SEEDS</label><input type="number" id="sds" class="currency-input" value="1"></div>
         <span id="equal">=</span>
         <div><label for="eth" class="currency">ETH</label><input type="number" id="eth" class="currency-input" value="{{price}}">
           {{#onDiscount}}
           <div id="red-cross"></div>
           <!-- <label for="eth-discount" id="discount-label">DISCOUNT PRICE</label> -->
           <input type="number" id="eth-discount" class="currency-input" value="{{price}}">
           {{/onDiscount}}
         </div>
      </div>
    </div>
  </div>
  <script src="js/init.js"></script>
  <script src="js/initContribute.js"></script>
</body>
</html>
