<html>
<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107670559-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107670559-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1802785866656598');
     fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1802785866656598&ev=PageView
    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Seeds Tokens Sale">
  <meta name="twitter:creator" content="@seedstweets">
  <meta name="twitter:image" content="https://seedstokens.com/images/seeds-logo.png">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mdb.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> -->

	<title>Seeds token sale</title>
</head>
<body onload="init({{deadline}}, {{percentageCompleted}}, {{sdsSold}}, {{showSignin}}, {{showSignup}})">

  <section class="first-section">
    <div id="logo"><a href="/"><img class="logo-img" src="images/seeds-logo.png" alt="Logo"></a></div>

    {{#showProgress}}
    <div id="progressbar"></div>
    {{/showProgress}}

    <div id="clockdiv">
      <h1>Current price will increase in</h1>
      <div id="clockdiv-container">
        <div>
          <span class="days"></span>
          <div class="smalltext">Days</div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>

    {{^showProgress}}
    <div id="tokenSold"></div>
    {{/showProgress}}

    <div class="centered-text">
      <p>The notional value of 1 Seeds Token is ~$0.06</p>
    </div>

    <!-- Button trigger modal -->
    <div class="buy-button">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" onclick="isLoggedInAlready({{loggedIn}})">
          JOIN SALE NOW
      </button>
    </div>

    <div id="ethereum"><img src="images/ethereum.jpeg" alt="Ethereum">
      <p>Accepting Ethers: 1 SEEDS Token = {{price}} Ether</p>
      <p><a target="_blank" href="/faq" class="btn btn-green-2 btn">Learn how to purchase Ether</a></p>
    </div>

    <div class="modal fade" id="modalSigninForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

              <!--Header-->
              <div class="modal-header light-blue darken-3 white-text">
                  <h4 class="title"><i class="fa fa-pencil"></i> Sign in</h4>
                  <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <!--Body-->
              <div class="modal-body mb-0">
                 <form role="form" name="signInForm" action="/signin" method="POST">
                  <div class="md-form form-sm">
                      <i class="fa fa-envelope prefix"></i>
                      <input type="email" id="email" name="email" class="form-control">
                      <label for="email">Your email</label>
                  </div>
                  <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input type="password" id="password" name="password" class="form-control">
                      <label for="password">Your password</label>
                  </div>

                  <input type="hidden" name="to" value="contribute">
                  <input type="hidden" name="from" value="">

                  {{#badInputError}}<p class="errorMessage">Error: Wrong parameters</p>{{/badInputError}}
                  {{#wrongCredentialsError}}<p class="errorMessage">Error: Email or password are not correct</p>{{/wrongCredentialsError}}

                  <div class="text-center mt-1-half">
                      <button class="btn btn-primary mb-2" onclick="return validateSigninForm();">Continue <i class="fa fa-send ml-1"></i></button>
                  </div>
                </form>

                <a href="" type="button" data-toggle="modal" data-target="#modalSignupForm" data-dismiss="modal" style="-webkit-appearance: none;">Sign up</a>
                <!-- <a href="" id=""> -->

              </div>
          </div>
          <!--/.Content-->
      </div>
    </div>

    <div class="modal fade" id="modalSignupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

              <!--Header-->
              <div class="modal-header light-blue darken-3 white-text">
                  <h4 class="title"><i class="fa fa-pencil"></i> Sign up</h4>
                  <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <!--Body-->
              <div class="modal-body mb-0">
                 <form role="form" name="signUpForm" action="/signup" method="POST">
                  <div class="md-form form-sm">
                      <i class="fa fa-envelope prefix"></i>
                      <input type="email" id="new-email" name="email" class="form-control" required>
                      <label for="email">Your email</label>
                  </div>
                  <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input type="password" id="new-password" name="password" class="form-control" required>
                      <label for="password">New password</label>
                  </div>
                  <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input type="password" id="confirm-password" name="confirmPassword" class="form-control" required>
                      <label for="confirm-password">Confirm password</label>
                  </div>

                  {{#badInputError}}<p class="errorMessage">Error: Wrong parameters</p>{{/badInputError}}
                  {{#alreadyExistsError}}<p class="errorMessage">Error: Email already registered</p>{{/alreadyExistsError}}

                  <div class="text-center mt-1-half">
                      <button class="btn btn-primary mb-2" onclick="return validateSignupForm();">Continue <i class="fa fa-send ml-1"></i></button>
                  </div>
                </form>

                <a href="" type="button" data-toggle="modal" data-target="#modalSigninForm" data-dismiss="modal" style="-webkit-appearance: none;">Sign in</a>

              </div>
          </div>
          <!--/.Content-->
      </div>
    </div>
  </section>

  <section class="grey-section">
    <h3>What is Seeds?</h3>
    <p>Seeds is the easiest way to build helping others into digital products. Our free tools allow websites and mobile apps to show their users opportunities to help people in need.  Once our tools are set up in an app, our recommendation algorithm shows the people using it the opportunities to help that will make them most excited.  This makes users more likely to spend money, so the apps benefit as well. It creates a system of abundance. We competed in TechCrunch Disrupt Battlefield in 2016, and we’re Techstars NYC 2015 and Boost VC alums.
    </p>

    <div class="infographic"><img src="images/user-flow.jpg"></div>

    <div id="reference-buttons">
      <a target="_blank" href="SEEDS-white-paper.pdf" class="btn btn-green-1 btn">WHITE PAPER</a>
      <a target="_blank" href="SEEDS-one-pager.pdf" class="btn btn-green-2 btn">ONE-PAGER</a>
    </div>

  </section>

  <section>
    <h3>What are Seeds Tokens?</h3>
    <p>Seeds Tokens are a digital currency that can be redeemed within the Seeds system. When you redeem a token, you can share a request to have a need met. Our recommendation algorithm will then show your need to the people who - data shows - would most love to help.</p>

    <div class="infographic"><img src="images/token-flow.jpg"></div>

    <!-- <div id="timeline"><img src="images/timeline.png" alt="timeline"></div> -->

    <!-- <div id="prices"><img src="images/prices.jpg" alt="prices"></div> -->

    <p>The notional value of SEEDS is set at ~$0.06 per token. The final value will be determined according to the sale stage.</p>

    <div id="pie-chart"><img src="images/pie-chart.jpg" alt="pie-chart"></div>

    <div class="pie-chart-legend">
      <h4>Tokens allocation</h4>
      <ul>
        <li>1 Billion SEEDS issued</li>
        <li>33% for sale</li>
        <li>33% retained by Seeds</li>
        <li>33% allocated for partners to incentivise the network</li>
        <li>1% to cover token sale costs and fees</li>
      </ul>
    </div>
  </section>
  <hr>
  <section>
    <h3>Seeds in the News</h3>

    <div class="news">
      <div>
        <a target="_blank" href="https://techcrunch.com/2016/12/05/seeds-helps-developers-make-more-money-through-in-app-social-good-purchases">
          <img class="news-logo" src="images/news/techcrunch.png" alt="techcrunch">
        </a>
        <p>“Seeds helps developers make more money through in-app social good purchases”</p>
        <p><a target="_blank" href="https://techcrunch.com/2016/12/05/seeds-helps-developers-make-more-money-through-in-app-social-good-purchases">Read more</a></p>
      </div>
      <div>
        <a target="_blank" href="https://www.techstars.com/content/blog/meet-the-barclays-accelerator-powered-by-techstars-class-of-2015/">
          <img class="news-logo" src="images/news/techstars.png" alt="techstars">
        </a>
        <p>“Techstars welcomes 11 companies into the Barclays Accelerator in New York!”</p>
        <p><a target="_blank" href="https://www.techstars.com/content/blog/meet-the-barclays-accelerator-powered-by-techstars-class-of-2015/">Read more</a></p>
      </div>
      <div>
        <a target="_blank" href="https://www.forbes.com/sites/vinettaproject/2017/06/28/why-win-win-win-propositions-are-the-future-of-business/#395658186c77">
          <img class="news-logo" src="images/news/forbes.png" alt="forbes">
        </a>
        <p>“Why in-Win-Win Propositions Are The Future Of Business”</p>
        <p><a target="_blank" href="https://www.forbes.com/sites/vinettaproject/2017/06/28/why-win-win-win-propositions-are-the-future-of-business/#395658186c77">Read more</a></p>
      </div>
    </div>
    <div class="news">
      <div>
        <span><img class="news-logo-sm" src="images/news/bloomberg.png" alt="bloomberg"></span>
      </div>
      <div>
        <span><img class="news-logo-sm" src="images/news/venturebeat.png" alt="venturebeat"></span>
      </div>
      <div>
        <span><img class="news-logo-sm" src="images/news/tedx.png" alt="tedx"></span>
      </div>
    </div>
  </section>
  <section>
    <hr id="call-to-action-hr">
    <h3>Ready to grow with Seeds?</h3>
    <div class="buy-button" style="padding-bottom: 20px;">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" onclick="isLoggedInAlready({{loggedIn}})">
          JOIN SALE NOW
      </button>
    </div>
  </section>

  <footer>
    <p><b>Questions?</b> Check our <a target="_blank" href="/faq">FAQ</a> or contact us at <a href="mailto:team@playseeds.com">team@playseeds.com</a></p>
     <p><a target="_blank" href="https://www.facebook.com/seedsgives"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
     <a target="_blank" href="https://www.instagram.com/seedsgives/"><i class="fa fa-instagram fa-2x"></i></a>
     <a target="_blank" href="https://twitter.com/seedstweets"><i class="fa fa-twitter-square fa-2x"></i></a></p>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/mdb.min.js"></script>
  <!-- <script src="js/progressbar.min.js"></script> -->
  <script src="js/init.js"></script>
  <script src="js/authentication.js"></script>
</body>
</html>
