<!DOCTYPE html>
<html>
<head>

<!-- Global site tag (gtag.js) - Google AdWords: 820005003 (email account associated with baerbelleksa) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-820005003"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-820005003');
</script>

   <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107670559-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107670559-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1802785866656598');
     fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1802785866656598&ev=PageView
    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Seeds Tokens Sale">
  <meta name="twitter:creator" content="@seedstweets">
  <meta name="twitter:image" content="https://seedstokens.com/images/seeds-logo.png">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mdb.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> -->

	<title>Seeds Token Sale</title>
<!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("a9e253b1ec6df3a6a30ddac37b772387");</script><!-- end Mixpanel -->
</head>
<body onload="init({{deadline}}, {{percentageCompleted}}, {{sdsSold}}, {{showSignin}}, {{showSignup}})">

  <section class="first-section">
    <div id="logo"><a href="/"><img class="logo-img" src="images/seeds-logo.png" alt="Logo"></a></div>

    {{#showProgress}}
    <div id="progressbar"></div>
    {{/showProgress}}

    <div id="clockdiv">
      <h1>Price will increase in</h1>
      <div id="clockdiv-container">
        <div>
          <span class="days"></span>
          <div class="smalltext">Days</div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>

    {{^showProgress}}
    <div id="tokenSold"></div>
    {{/showProgress}}

    <div class="centered-text">
      <p>Accepting Ethers: 1 Seeds Token = {{price}} Ether</p>
    </div>

    <!-- Button trigger modal -->
    <div class="buy-button">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" onclick="isLoggedInAlready({{loggedIn}})">
          Get What You Need
      </button>
    </div>

    <div id="ethereum"><img src="images/ethereum.jpeg" alt="Ethereum">
      <p>The notional value of 1 Seeds Token is ~$0.38</p>
      <p><a target="_blank" href="/faq" class="btn btn-green-2 btn">Learn how to purchase Ether</a></p>
    </div>

    <div class="modal fade" id="modalSigninForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

              <!--Header-->
              <div class="modal-header light-blue darken-3 white-text">
                  <h4 class="title"><i class="fa fa-pencil"></i> Log in to continue</h4>
                  <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <!--Body-->
              <div class="modal-body mb-0">
                 <form role="form" name="signInForm" action="/signin" method="POST">
                  <div class="md-form form-sm">
                      <i class="fa fa-envelope prefix"></i>
                      <input type="email" id="email" name="email" class="form-control">
                      <label for="email">Your email</label>
                  </div>
                  <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input type="password" id="password" name="password" class="form-control">
                      <label for="password">Your password</label>
                  </div>

                  <input type="hidden" name="to" value="contribute">
                  <input type="hidden" name="from" value="">

                  {{#emailVerified}}<p class="success-message">Email address verified successfully! Login to continue</p>{{/emailVerified}}
                  {{#badInputError}}<p class="errorMessage">Error: Wrong parameters</p>{{/badInputError}}
                  {{#wrongCredentialsError}}<p class="errorMessage">Error: Email or password are not correct</p>{{/wrongCredentialsError}}

                  <div class="text-center mt-1-half">
                      <button class="btn btn-primary mb-2" onclick="return validateSigninForm();">Log in <i class="fa fa-send ml-1"></i></button>
                  </div>
                </form>

                or <a href="" type="button" data-toggle="modal" data-target="#modalSignupForm" data-dismiss="modal" style="-webkit-appearance: none;">Create new account</a>
                <br><br><a href="/forgot-password" type="button" style="-webkit-appearance: none;">Forgot your password?</a>
                <!-- <a href="" id=""> -->

              </div>
          </div>
          <!--/.Content-->
      </div>
    </div>

    <div class="modal fade" id="modalSignupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

              <!--Header-->
              <div class="modal-header light-blue darken-3 white-text">
                  <h4 class="title"><i class="fa fa-pencil"></i> Create new account</h4>
                  <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <!--Body-->
              <div class="modal-body mb-0">
                 <form role="form" name="signUpForm" action="/signup" method="POST">
                  <div class="md-form form-sm">
                      <i class="fa fa-envelope prefix"></i>
                      <input type="email" id="newEmail" name="newEmail" class="form-control" required>
                      <label for="newEmail">Your email</label>
                  </div>
                  <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                      <label for="newPassword">New password</label>
                  </div>
                  <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                      <label for="confirmPassword">Confirm password</label>
                  </div>

                  {{#badInputError}}<p class="errorMessage">Error: Wrong parameters</p>{{/badInputError}}
                  {{#alreadyExistsError}}<p class="errorMessage">Error: Email already registered</p>{{/alreadyExistsError}}

                  <div class="text-center mt-1-half">
                      <button class="btn btn-primary mb-2" onclick="return validateSignupForm();">Sign up <i class="fa fa-send ml-1"></i></button>
                  </div>
                </form>

                Already have an account? <a href="" type="button" data-toggle="modal" data-target="#modalSigninForm" data-dismiss="modal" style="-webkit-appearance: none;">Log in</a>

              </div>
          </div>
          <!--/.Content-->
      </div>
    </div>
  </section>

  <section class="grey-section">
    <h3>What is Seeds?</h3>
    <p>Seeds is the easiest way to build helping others into digital products. Our free tools give mobile and web apps the ability to make non-spenders nearly 60% more like to buy - by giving their users opportunities to help people in need.  Once set up in an app, the Seeds front-end products invite users to contribute micro-donations while simultaneously purchasing items native to the app.  Apps see an increase in revenue of up to 30%, acquire new users from the Seeds community, and people in need get help.  Every member of the Seeds ecosystem gains value, creating a new economic system of abundance.</p><p> Seeds competed in TechCrunch Disrupt Battlefield in 2016, and we’re Techstars NYC 2015 and Boost VC 2014 alums. Boost VC is a Bitcoin-focused startup accelerator.
    </p>

    <div class="infographic"><img src="images/user-flow.jpg"></div>

    <div id="reference-buttons">
      <a target="_blank" href="SEEDS-white-paper.pdf" class="btn btn-green-1 btn">WHITE PAPER</a>
      <a target="_blank" href="SEEDS-one-pager.pdf" class="btn btn-green-2 btn">ONE-PAGER</a>
    </div>

  </section>

  <section>
    <h3>What are Seeds Tokens?</h3>
    <p>Seeds Tokens are a digital currency that can be redeemed within the Seeds system. Redeeming a token gives you the ability to make a monetary Request for Help, which can be any amount, and for anything at all - so long as it's legal. :) Your Request is then shown through the apps using the Seeds front-end products, inviting users to contribute to your need - a bit like a decentralized GoFundMe.  After your full request amount has been met, Seeds then gifts the contributions to you.  No strings attached. :) </p>

    <div class="infographic"><img src="images/token-flow.jpg"></div>

    <!-- <div id="timeline"><img src="images/timeline.png" alt="timeline"></div> -->

    <!-- <div id="prices"><img src="images/prices.jpg" alt="prices"></div> -->

    <p>The notional value of SEEDS is currently ~$0.38 per token. The final value will be determined according to the sale.</p>

    <div id="pie-chart"><img src="images/pie-chart.jpg" alt="pie-chart"></div>

    <div class="pie-chart-legend">
      <h4>Token Allocation</h4>
      <ul>
        <li>1 Billion Seeds Tokens minted</li>
        <li>33% for sale</li>
        <li>33% retained by Seeds</li>
        <li>33% allocated to partners to incentivize our network</li>
        <li>1% to cover token sale costs and fees</li>
      </ul>
    </div>
  </section>
  <hr>
  <section>
    <h3>Seeds in the News</h3>

    <div class="news">
      <div>
        <a target="_blank" href="https://techcrunch.com/2016/12/05/seeds-helps-developers-make-more-money-through-in-app-social-good-purchases">
          <img class="news-logo" src="images/news/techcrunch.png" alt="techcrunch">
        </a>
        <p>“Seeds helps developers make more money through in-app social good purchases”</p>
        <p><a target="_blank" href="https://techcrunch.com/2016/12/05/seeds-helps-developers-make-more-money-through-in-app-social-good-purchases">Read more</a></p>
      </div>
      <div>
        <a target="_blank" href="https://www.techstars.com/content/blog/meet-the-barclays-accelerator-powered-by-techstars-class-of-2015/">
          <img class="news-logo" src="images/news/techstars.png" alt="techstars">
        </a>
        <p>“Techstars welcomes 11 companies into the Barclays Accelerator in New York!”</p>
        <p><a target="_blank" href="https://www.techstars.com/content/blog/meet-the-barclays-accelerator-powered-by-techstars-class-of-2015/">Read more</a></p>
      </div>
      <div>
        <a target="_blank" href="https://www.forbes.com/sites/vinettaproject/2017/06/28/why-win-win-win-propositions-are-the-future-of-business/#395658186c77">
          <img class="news-logo" src="images/news/forbes.png" alt="forbes">
        </a>
        <p>“Why in-Win-Win Propositions Are The Future Of Business”</p>
        <p><a target="_blank" href="https://www.forbes.com/sites/vinettaproject/2017/06/28/why-win-win-win-propositions-are-the-future-of-business/#395658186c77">Read more</a></p>
      </div>
    </div>
    <div class="news">
      <div>
        <span><img class="news-logo-sm" src="images/news/bloomberg.png" alt="bloomberg"></span>
      </div>
      <div>
        <span><img class="news-logo-sm" src="images/news/venturebeat.png" alt="venturebeat"></span>
      </div>
      <div>
        <span><img class="news-logo-sm" src="images/news/tedx.png" alt="tedx"></span>
      </div>
    </div>
  </section>
  <section>
    <hr id="call-to-action-hr">
    <h3>Ready to grow with Seeds?</h3>
    <div class="buy-button" style="padding-bottom: 20px;">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" onclick="isLoggedInAlready({{loggedIn}})">
          Join us Today!
      </button>
    </div>
  </section>

  <footer>
    <p><b>Questions?</b> Check our <a target="_blank" href="/faq">FAQ</a> or contact us at <a href="mailto:team@playseeds.com">team@playseeds.com</a></p>
     <p><a target="_blank" href="https://www.facebook.com/seedsgives"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
     <a target="_blank" href="https://www.instagram.com/seedsgives/"><i class="fa fa-instagram fa-2x"></i></a>
     <a target="_blank" href="https://twitter.com/seedstweets"><i class="fa fa-twitter-square fa-2x"></i></a></p>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/mdb.min.js"></script>
  <!-- <script src="js/progressbar.min.js"></script> -->
  <script src="js/init.js"></script>
  <script src="js/authentication.js"></script>

  <!-- Wisepops Popup to be triggered when a visitor is about to exit without signing up -->
<script type="text/javascript" data-cfasync="false">
  (function(W,i,s,e,P,o,p){W['WisePopsObject']=P;W[P]=W[P]||function(){
  (W[P].q=W[P].q||[]).push(arguments)},W[P].l=1*new Date();o=i.createElement(s),
  p=i.getElementsByTagName(s)[0];o.async=1;o.src=e;p.parentNode.insertBefore(o,p)
  })(window,document,'script','//loader.wisepops.com/get-loader.js?v=1&site=EE7Yk7eW9j','wisepops');
</script>

  <!-- LinkedIn Ad Conversion Tracker -->
<script type="text/javascript">
_linkedin_data_partner_id = "299210";
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=299210&fmt=gif" />
</noscript>
</body>
</html>
