<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107670559-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107670559-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1802785866656598');
      fbq('track', 'PageView');
  </script>
  <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1802785866656598&ev=PageView
    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

	<title>Seeds token sale</title>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div id="logo"><a href="/"><img class="logo-img" src="images/seeds-logo.png" alt="Logo"></a></div>
  <div>
    <h1>Thank you so much for buying Seeds Tokens!</h1>
    <h6>Together we can create a new economic system of abundance for us all.</h6>
     <div class="centered-text">
         <p>You have successfully retrieved your Seeds Tokens! You will shortly receive a confirmation email from us, with instructions on how to see your tokens in your wallet.</p>
         <p>If you’d like to share about your purchase on social, we’d be happy to send you another 10 tokens for free.</p>
         <div class="fb-share-button" data-href="https://www.facebook.com/seedsgives/photos/a.1541557549199980.1073741831.979688998720174/1617578231597911" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fseedsgives%2Fphotos%2Fa.1541557549199980.1073741831.979688998720174%2F1617578231597911&amp;src=sdkpreparse">Share</a></div>
         <a href="https://twitter.com/intent/tweet?text=@seedstweets%20Seeds%20Tokens%20let%20u%20ask%20the%20blockchain%20for%20help!%20RT%20for%2010%20free%20tokens%20to%20use%20yourself%20%26%20give%20to%20others&url=https://seedstokens.com" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     </div>
  </div>
  <footer style="position: absolute; bottom: 0; padding-left: 0;">
    <p><b>Questions?</b> Check our <a target="_blank" href="/faq">FAQ</a> or contact us at <a href="mailto:team@playseeds.com">team@playseeds.com</a></p>
     <p><a target="_blank" href="https://www.facebook.com/seedsgives"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
     <a target="_blank" href="https://www.instagram.com/seedsgives/"><i class="fa fa-instagram fa-2x"></i></a>
     <a target="_blank" href="https://twitter.com/seedstweets"><i class="fa fa-twitter-square fa-2x"></i></a></p>
  </footer>
</body>
</html>
