<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107670559-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107670559-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1802785866656598');
      fbq('track', 'PageView');
  </script>
  <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1802785866656598&ev=PageView
    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

	<title>Seeds token sale</title>
</head>
<body>
  <div id="logo"><a href="/"><img class="logo-img" src="images/seeds-logo.png" alt="Logo"></a></div>
  <div>
    <h1>Thank you for signing up!</h1>

    <div class="centered-text">
    {{^verified}}

       <p> Thanks for signing up!  We've sent you an email at {{email}}.  Please follow the instructions there to continue. Grateful to you!</p>

     {{/verified}}
     {{#verified}}
     <p>You have successfully verified your email address! Now you can continue with your contribution!</p>
     {{/verified}}
     </div>
  </div>
  <footer style="position: absolute; bottom: 0; padding-left: 0;">
    <p><b>Questions?</b> Check our <a target="_blank" href="/faq">FAQ</a> or contact us at <a href="mailto:team@playseeds.com">team@playseeds.com</a></p>
     <p><a target="_blank" href="https://www.facebook.com/seedsgives"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
     <a target="_blank" href="https://www.instagram.com/seedsgives/"><i class="fa fa-instagram fa-2x"></i></a>
     <a target="_blank" href="https://twitter.com/seedstweets"><i class="fa fa-twitter-square fa-2x"></i></a></p>
  </footer>
</body>
</html>
