#needTable {
  width: 80%;
  text-align: center;
  margin: 30px auto;
  border: 1px solid #dddddd;
}

#needTable tr td{
  padding: 20px 50px;
  font-size: 18px;
}

.greyTd {
  background-color: #dddddd;
}

#tx-input {
  margin: 20px auto;
  width: 700px;
  height: 30px;
  text-align: left;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  color: #6e6e6e;
  display: block;
}

footer {
  margin-top: 100px;
}
