body{
  font-family: 'Lato', sans-serif!important;
  margin: 0;
}

h1 {
  color: rgb(153, 153, 153);
  font-weight: 400;
  font-size: 28px;
  margin-top: 40px;
  text-align: center;
}

h2 {
  color: #14171a;
  font-weight: 400;
  font-size: 26px;
  margin: 15px 0;
  text-align: center;
}

h3 {
  font-size: 64px;
  margin: 40px;
  text-align: center;
  color: #14171a;
}

h4 {
  font-weight: 300;
  font-size: 30px;
  margin: 10px;
  text-align: center;
}

h5 {
  font-weight: 400;
  font-size: 50px;
  margin: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: #14171a;
}

h6 {
  font-weight: 300;
  font-size: 25px;
  margin: 10px;
  text-align: center;
}

#logo {
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.logo-img {
  height: 200px;
}

.logo-img-small {
  height: 100px;
}

#clockdiv{
  margin: 10px 0;
  width: 100%;
	color: #fff;
	display: block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div {
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv > div > div{
	padding: 0px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

#address-container {
  background: #eee;
  /*height: 40%;*/
  display: block;
  text-align: center;
  margin: 20px 10%;;
  color: #6e6e6e;
  width: 80%;
  border-radius: 3px;
  padding: 10px 0;
}

#address-container > div {
  width: 100%;
  margin: 0 0 20px 0;
  display: inline-block;
  overflow: hidden;
}

.address {
  display: inline-block;
  width: 40%;
  /*height: 30%;*/
  background: #fff;
  border-radius: 3px;
  float: left;
}

#text-address {
  width: 50%;
  margin: 0 2.5% -500em 7.5%;
  padding-bottom: 500em;
  padding-top: 9%;
  overflow: hidden;
}

#text-address > span {
  margin-top: 20px;
}

#qr-address {
  width: 30%;
  margin: 0 7.5% -500em 2.5%;
  padding-bottom: 500em;
}

#progressbar {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 35px;
  position: relative;
}

.buy-button {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.btn.btn-lg {
  padding: 15px 40px;
  font-size: 25px;
}

.light-blue.darken-3 {
  background-color: #134a5f!important
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.btn-info, .btn-info:active, .btn-info:focus, .btn-info:hover {
  background-color: #4c7ec5!important;
  border-radius: 5px;
  /*box-shadow: none  !important;*/
  /*border: 1px solid #4c7ec5;*/
}

.md-form {
  text-align: left;
}

section {
  width: 100%;
  padding: 0 20% 40px 20%;
  display: table;
  margin: 0;
  max-width: none;
  text-align: center;
}

section > p {
  font-size: 18px;
  font-weight: 400;
  color: #14171a;
}

/*.first-section {
  height: 95vh;
}*/

.grey-section {
  background-color: #e9eaec;
  ;
}

#call-to-action-hr {
  margin: 60px 0;
}

#price-converter {
  text-align: center;
  background-color: #009f78;
  width: 50%;
  margin: 40px 25%;
  padding: 10px;
  border-radius: 3px;
}

#price-converter > div {
  height: 50px;
  display: inline-flex;
  align-items: center
}

.currency {
  color: #fff;
  font-weight: 400;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.currency-input {
  width: 110px!important;
  height: 35px;
  margin: 0 10px;
  text-align: center;
  font-size: 20px!important;
  /*font-weight: 500;*/
  background-color: rgba(255, 255, 255, 0.5)!important;
  border-radius: 3px!important;
 }

#eth-discount {
  margin-left: -5px;
}

#red-cross {
  position: absolute;
  width: 110px;
  height: 35px;
  overflow: hidden;
}

#red-cross:before, #red-cross:after {
    position: absolute;
    content: '';
    background: rgb(255, 40, 40);
    display: block;
    width: 100%;
    height: 4px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    //center the X vertically and horizontally:
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#red-cross:after {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

#discount-label {
  position: absolute;
  padding-bottom: 52px;
  padding-left: 200px;
  font-size: 12px;
  font-weight: 400;
}

#equal {
  color: #fff;
  font-weight: 100;
  font-size: 40px;
  margin: 10px;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=email]:focus:not([read-only]) {
  box-shadow: 0 1px 0 0 #1fa079;
  border-bottom: 1px solid #1fa079;
}
input[type=email]:focus:not([read-only])+label {
  color: #1fa079;
}

.md-form .prefix.active {
  color: #1fa079;
}


.btn-green-1, .btn-green-1:active, .btn-green-1:focus, .btn-green-1:hover {
  background-color: #1fa079!important;
  border-radius: 5px;
}

.btn-green-2, .btn-green-2:active, .btn-green-2:focus, .btn-green-2:hover {
  background-color: #28c096!important;
  border-radius: 5px;
}

#discount {
  font-size: 18px;
  font-weight: 400;
}

#tokenSold {
  width: 100%;
  text-align: center;
  color: rgb(153, 153, 153);
  font-weight: 100;
  font-size: 24px;
  margin: 25px 0 15px 0;
}

#ethereum > img {
  width: 100px;
}

#timeline > img{
  margin: 40px 0;
  width: 100%;
}

#prices > img{
  margin: 40px 0;
  width: 100%;
}

#pie-chart > img{
  margin: 40px 0;
  width: 50%;
  position: relative;
  float: left;
}

.pie-chart-legend {
  margin-top: 70px;
  width: 48%;
  height: 70%;
  float: right;
  position: relative;
  background-color: #e9eaec;
  padding: 20px;
}

.pie-chart-legend > ul {
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
}

.pie-chart-legend > ul > li {
  margin-top: 8px
}

hr {
  border: none;
  height: 2px;
  color: #e9eaec; /* old IE */
  background-color: #e9eaec;
}

footer {
  padding: 30px;
  background-color: #009f78;
  color: #fff;
}

footer > p {
  margin: 0;
  text-align: center;
}

footer > p > a {
  color: #fff;
  text-decoration: underline;
}

footer > p > a > i {
  margin: 5px;
}

#bottom-text {
  padding-bottom: 25px;
  text-align: center;
  font-size: 18px;
  color: #14171a;
}

#note {
  text-align: center;
  color: #14171a;
  font-size: 18px;
}

.news {
  width: 100%;
  text-align: center;
}

.news > div {
  width: 32%;
  display: inline-grid;
  text-align: center;
}

.news > div > a > img {
  height: 50px;
  margin-bottom: 10px;
}

.news > div > span > img[class=news-logo-sm] {
  height: 30px;
  margin-top: 30px;
}

#faq {
  width: 100%;
  text-align: left;
}

#faq > div {
  padding: 10px 20px;
}

#faq > div > h6 {
  text-align: left;
  margin: 0;
}

#faq > div > ol > li {
  margin-top: 5px;
}

#faq > h1 {
  text-align: left;
  padding: 10px 20px;
}

.background-grey {
  background-color: #eee;
}

#video {
  width: 100%;
  text-align: center;
  padding: 20px;
}
